:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  color: var(--primary-text-color);
  background-color: #ffffff;
}
ul {
  list-style: none;
}

/* title text color #212121 */
/* primary text color #757575 */
/* white text #FFFFFF */
/* footer contacts text rgba(255, 255, 255, 0.6) */

/* accent #2196F3 */
/* main background #FFFFFF */
/* secondary 1 background #2F303A */
/* secondary 2 background #F5F4FA */

/* logo */
.header-logo {
  color: var(--title-text-color);
}
.header-logo span,
.footer-logo span {
  color: var(--accent-color);
}
.footer-logo {
  color: #ffffff;
}
.footer-logo span {
  color: var(--accent-color);
}

/* site nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* contacts */
.header-contacts .mailto {
  color: var(--accent-color);
}
.header-contacts .tel {
  color: var(--primary-text-color);
}

/* section */
.section .section-title {
  color: var(--title-text-color);
}

/* hero */
.hero,
footer {
  color: #ffffff;
  background-color: #2f303a;
}

/* advantages */
.advantages .title {
  color: var(--title-text-color);
}

/* team */
.team .title {
  color: var(--title-text-color);
}

/* footer */
.footer-contacts .mailto,
.footer-contacts .tel {
  color: rgba(255, 255, 255, 0.6);
}
